video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

hr {
    width: 70%;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    border: 0;
    background: lavenderblush
}

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: #282828;
}

.home-banner {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position:relative;
}

.home-banner h1{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    font-size: 6em;
    color: gray;
}

.home-banner-text{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position:relative;
}

.home-info {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-info h2{
    height: 100%;
    width: 50%;
    font-size:2rem;
    color:black;
    text-align: left;
    justify-content:left;
}

img {
    max-width: 50%;
    height: auto;
}
.me {
    margin-top: 4em;
    max-width: 15%;
    height: auto;
}