.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: #282828;
    margin-bottom: 0rem;
}

.home-banner hr {
    width: 100%;
    height: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    background: #3c3836;
}

.me {
    margin-top: 4rem;
    max-width: 50%;
    height: auto;
}

.home-banner {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position:relative;
}

.home-banner-text p {
    display: inline-block;
    flex-direction:column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    font-size: 4rem;
    color: #cc241d;
    font-style: italic;
}

.home-banner-text{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position:relative;
}

.about {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 10rem;
}

.about p {
    text-align: left;
}

.about-tag {
    font-size: 2rem;
}

.about-content {
    font-size: 1rem;
    justify-content: center;
}

.orange {
    color: #d65d0e;
}
.red {
    color: #cc241d;
}
.green{
    color: #98971a;
}

.grey{
    color: #928374;
}

.yellow {
    color: #d79921;
}
